<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
    <modules>
        <module>
            <destinationPath>dest</destinationPath>
            <lastSync>2016-09-28T12:39:04.539+02:00</lastSync>
            <name>name</name>
            <sourcePath>source</sourcePath>
        </module>
        <module>
            <name>name1</name>
            <sourcePath>source</sourcePath>
        </module>
    </modules>
</configuration>
